{% extends "template.twig" %}

{% block head %}
{% include "codemirror.twig" %}
<script>
window.onload = function() {
  var editor = CodeMirror.fromTextArea($("#code")[0], {
    mode: "text/x-csrc",
    lineNumbers: true,
    extraKeys: {"Ctrl-Space": "autocomplete"}
  });
  editor.setSize("80%", "100%");
}
</script>
{% endblock %}

{% block body %}
<div class="flex h-screen w-screen py-4 justify-center">
<textarea id="code" name="code">
#include <stdio.h>
int main() {
    int number;
   
    printf("Enter an integer: ");  
    
    // reads and stores input
    scanf("%d", &number);

    // displays output
    printf("You entered: %d", number);
    
    return 0;
}
</textarea>
</div>
{% endblock %}
