<!DOCTYPE html>
<html lang="ja" class="h-full">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="/assets/mini capy.idle.png">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        {% block head %}
        {% endblock head %}
        <link href="/tailwind.css" rel="stylesheet">
        <script src="/flowbite.min.js"></script>
        <script>
            // On page load or when changing themes, best to add inline in `head` to avoid FOUC

            window.isDark = () => {
                return localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches);
            }

            if (window.isDark()) {
                document.documentElement.classList.add('dark');
            } else {
                document.documentElement.classList.remove('dark')
            }
        </script>
        <script>
            window.addEventListener("keydown", (e) => {
                if (e.keyCode === 13) {
                    e.preventDefault();
                    return false;
                }
            });
        </script>
        <script src="/jquery.min.js"></script>
    </head>
    <body class="h-full">
        {% block body %}
        {% endblock body %}
    </body>
</html>
